[submodule "lib/thrill"]
	path = lib/thrill
	url = https://github.com/SDEagle/thrill.git
[submodule "lib/sparsepp"]
	path = lib/sparsepp
	url = https://github.com/greg7mdp/sparsepp.git
[submodule "lib/RoutingKit"]
	path = lib/RoutingKit
	url = https://github.com/RoutingKit/RoutingKit.git
[submodule "lib/infomap"]
	path = lib/infomap
	url = https://github.com/mapequation/infomap.git
